html, body{
    height: 100%;
}

a{
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

.italics{
    font-style: italic;
}

#the-footer{
    background: #263238;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}

.breadcrumb li a    {
    color: white;
}

.logo{
    width: 35%;
    height: auto;
}


img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

#homepage{
    height: auto;
}
